# Ignore build directory for continuous integration
/build/

# - IDE specific files
# Eclipse
/.project
/.settings/
/.buildpath

# Netbeans
/nbproject
/dist

# phpStorm
/.idea

# Sublime Text
sftp-config.json
/dist/